name: Full-Stack CI Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18

      # Backend
      - name: Install Backend Dependencies
        run: |
          cd server
          npm install

      - name: Build Backend
        run: |
          cd server
          npm run build || echo "No build step"

      # Frontend
      - name: Install Frontend Dependencies
        run: |
          cd client
          npm install --include=dev

      - name: Build Frontend
        run: |
          cd client
          npm run build
